<div class="container">

    <h1>Code Names</h1>

    <div>
        <div class="row flex-nowrap">
            <!-- Header row -->
            <div class="col-sm-1 end-cell"></div>
            <div *ngFor="let cell of grid[0]" class="col-sm p-1 m-1 cell" style="min-height: 0px;">
                {{cell.column + 1}}
            </div>
        </div>
        <div *ngFor="let row of grid" class="row flex-nowrap">
            <!-- row number -->
            <div class="col-sm end-cell">{{row[0].row + 1}}</div>
            <div *ngFor="let cell of row" [ngClass]="getCellStyle(cell)" class="col-sm border p-3 m-1 cell">
            </div>
        </div>
    </div>

    <div *ngFor="let team of teams; index as index" class="row align-items-center">
        <div class="col-4">
            <h3 [ngClass]="getTextStyle(index)">{{team.displayName}}</h3>
        </div>
        <div class="col-2">{{team.cells.length}} cards</div>
    </div>

    <div class="pt-3">
        <h3>Game Settings</h3>
        <div class="mb-3 row">
            <label for="teamCount" class="col-4 col-form-label">Team Count</label>
            <div class="col-2">
                <input type="number" id="teamCount" class="form-control" [(ngModel)]="teamCount" min="2" max="4">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="gridSize" class="col-4 col-form-label">Grid Size</label>
            <div class="col-2">
                <input type="number" id="gridSize" class="form-control" [(ngModel)]="gridSize" min="2">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="cardCount" class="col-4 col-form-label">Card Count</label>
            <div class="col-2">
                <input type="number" id="cardCount" class="form-control" [(ngModel)]="cardCount" min="2">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="assassinCount" class="col-4 col-form-label">Assassin Count</label>
            <div class="col-2">
                <input type="number" id="assassinCount" class="form-control" [(ngModel)]="assassinCount" min="0">
            </div>
        </div>

        <div *ngIf="errorMessage != null" class="alert alert-danger py-2 col-6" role="alert">{{errorMessage}}</div>

        <div>
            <input type="button" class="btn btn-secondary me-2" value="Reset" (click)="reset()">
            <input type="button" class="btn btn-primary" value="Generate" (click)="newGame()">
        </div>


    </div>

    <div class="pt-3">
        <a href="https://github.com/Roaders/code-names" target="_blank">GitHub</a>
    </div>

</div>